<!DOCTYPE html>
<html>
       
    <header>
        <img src="{{ asset('bundles/ADGsb/images/logo.jpg') }}" alt="logo" width="101px" height="101px" />
        <link rel="stylesheet" href="{{ asset('bundles/ADGsb/css/style.css') }} "type="text/css" media="all" />
        <h1>Le site GSB</h1>
    </header>
    <nav>
        <h3>LE MENU :</h3>
        <h5>Présentation</h5>
        <li><a href="{{path('ad_gsp_activite')}}">Activité</a></li>
        <li><a href="{{path('ad_gsp_entreprise')}}">L'Entreprise</a></li>
        <h5>Le SI</h5>
        <li><a href="">Description</a></li>
        <li><a href="">La gestion</a></li>
        <li><a href="">L'équipement</a></li>
        <h5>Le réseau</h5>
        <li><a href="">Répartition</a></li>
        <li><a href="">Segmentation</a></li>
    </nav>
    <section>
        <h1>TOTO</h1>
    </section>
    <footer>
        <p>copyright 2013-2014</p>
    </footer>
</html>
