header{
    background-color: #808080;
    background-position: top center;
    width: 1655px;
    height: 150px;
    text-decoration: underline;
}
nav{
    background-color: #008080;
    background-position:left;
    position: absolute;
    width: 150px;
    height: 800px;
    font-size: 1.4em;
}
h1{
    text-align: center;
}
h3{
   text-align: center;
}
section{
    background-color: #FFFACD;
    background-position: right;
    width: 1355px;
    height: 800px;
    margin-left: 150px;
    margin-bottom: 100px;
    position: absolute;
}
footer{
    background-color: #808080;
    background-position: bottom;
    width: 1600px;
    height: 54px;
    position: absolute;
    margin-top: 800px;
    text-align: center;
}
img{
    position: absolute;
    margin-right: 500px;
}